/* center all elements and add background image */
body {
    background: url(images/Bg-6.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
}

/* Title */
#header {
    font-family: cursive;
    background: linear-gradient(#eff303, rgba(68, 132, 68, 0.971), rgba(255, 68, 0, 0.851), rgb(85, 117, 245));
    height: 80px;
    width: 500px;
    margin: 10px auto;
    font-size: 3em;
    color: #fff;
    line-height: 70px;
    border-radius: 50px;
    box-shadow: 0 0 5px 5px white;
}